<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/about.css">


<div class="ui container segment main">

    <div class="ui grid container">
        
        <div class="ui seven wide column" id="about-text">
            <p>
                I currently work for a small tech company, servicing mobile devices for businesses that use them for point of sale. Having come from the hospitality indnustry, I've brought the focus of the company around to providing an indsutry leading service, focused on professionalism and the customer journey.
                <br>
                <br>
                I have developed a keen interest in programming over the last year or more, writing in Python, node.js and HTML. While I lean heavily towards back-end development, I'm able to write full-stack, and am currently building websites for a number of friends and colleagues. If you, or anyone you know would be interested in any of the work I can do, I'd love to have a chat don't hesitate to get in contact! 
                <br>
                <br>
                I'm also an avid musician, performing regularly at open mic nights and commissioned events around London and the surrounding area.
                <br>
                <br>
                gabrielbarr811@gmail.com
            </p>
        </div>
        <div class="ui one wide column"></div>
        <div class="ui seven wide column">
            <img src="images/fam-piano.jpeg" alt="" class="ui image big">
        </div>


    </div>

</div>

<script src="/scripts/about.js"></script>


<%- include("partials/footer") %>