<%- include("partials/header") %>


<div class="ui container segment main" id="landing-text">
    <p>
        Having enjoyed interacting with and manipulating computers since a I was a child, it seems quite surprising (to me at least) that I only caught the programming fever at 25.
        While studying at Loughborough University, I realised I had both an affinity and a talent for logical reasoning & problem solving.
        3 Years and 18 weeks of work experience later, I discovered that Civil Engineering would not provide the satisfaction of a solving the equation of my career.
        I moved through the hospitality industry for a number of years, revelling in the opportunity to solve customer issues, though these issues were rarely more simple than imaginary numbers.
    </p>
</div>


<%- include("partials/footer") %>