<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/index.css">

<div class="ui container segment main" id="background-strip">
        <div class="ui fluid container" id="custom-jumbo">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide column"></div>
                    <div class="six wide column">
                        <h1 class="ui header quote"><p>"Education is the kindling of a flame,</p> not the filling of a vessel"</h1>
                    </div>
                </div>    
                <div class="six wide column"></div>
                <div class="six wide column">
                    <h2 class="ui header quote">-Socrates</h2>
                </div>
            </div>
        </div>
</div>

<div class="ui divider"></div>

<div class="ui container segment main" id="landing-text">
    <p>
        Having enjoyed interacting with and manipulating computers since a I was a child, it seems quite surprising (to me at least) that I only caught the programming fever at 25.
        While studying at Loughborough University, I realised I had both an affinity and a talent for logical reasoning & problem solving.
        3 Years and 18 weeks of work experience later, I discovered that Civil Engineering would not provide the satisfaction of a solving the equation of my career.
        I moved through the hospitality industry for a number of years, revelling in the opportunity to solve customer issues, though these issues were rarely more simple than imaginary numbers.
    </p>
</div>

<div class="ui divider"></div>

<div class="ui container segment" id="carousel">

    <h1 class="ui header">Stuff I Dun</h1>

        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="ui large image">
                            <div class="ui blue ribbon label">
                              <i class="spoon icon"></i> Food
                            </div>
                            <img src="images/landing1.jpeg" class="slide_image" alt="">
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="ui large image">
                            <div class="ui blue ribbon label">
                              <i class="spoon icon"></i> Food
                            </div>
                            <img src="images/landing1.jpeg" class="slide_image" alt="">
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="ui large image">
                            <div class="ui blue ribbon label">
                              <i class="spoon icon"></i> Food
                            </div>
                            <img src="images/landing1.jpeg" class="slide_image" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="caret left icon"></i></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="caret right icon"></i></button>
            </div>
        </div>     
</div>



<%- include("partials/footer") %>