<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/index.css">

<div class="ui container segment main" id="background-strip">
        <div class="ui fluid container" id="custom-jumbo">
            <div class="ui grid">
                <div class="row">
                    <div class="two wide column"></div>
                    <div class="six wide column">
                        <h1 class="ui header quote"><p>"Education is the kindling of a flame,</p> not the filling of a vessel"</h1>
                    </div>
                </div>    
                <div class="six wide column"></div>
                <div class="six wide column">
                    <h2 class="ui header quote">-Socrates</h2>
                </div>
            </div>
        </div>
</div>

<div class="ui container segment" id="carousel"></div>

    <h1 class="ui header" id="projects-head">Ongoing Projects</h1>

        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <a href="/music">
                            <div class="ui large image">
                                <div class="ui blue ribbon label">
                                    <i class="music icon"></i></i> Music
                                </div>
                                <img src="images/high-piano.jpeg" class="slide_image" alt="">
                            </div>
                        </a>    
                    </li>
                    <li class="glide__slide">
                        <a href="/zacgates">
                            <div class="ui large image">
                                <div class="ui blue ribbon label">
                                    <i class="camera retro icon"></i>Zac Gates Photography
                                </div>
                                <img src="images/zacgates/Clouds3.jpg" class="slide_image" alt="">
                            </div>
                        </a>    
                    </li>
                    <li class="glide__slide">
                        <a href="/nickysofttouch">
                            <div class="ui large image">
                                <div class="ui blue ribbon label">
                                    <i class="music icon"></i>Nicky Soft Touch
                                </div>
                                <img src="images/zacgates/Nicky.jpg" class="slide_image" alt="">
                            </div>
                        </a>    
                    </li>
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="caret left icon"></i></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="caret right icon"></i></button>
            </div>
        </div>     
</div>

<script src="/scripts/index.js"></script>


<%- include("partials/footer") %>