<%- include("partials/header") %>

<div class="ui container segment main-top">
    <div class="ui grid container">
        <div class="eight wide column">
            <div class="ui container">
                <img class= "ui fluid image" src="images/glasses.jpg">
            </div>
        </div>
        <div class="eight wide column">
            <p>Ullamco in proident esse pariatur nulla incididunt esse magna. Fugiat dolore esse minim et non tempor nulla est ut ea. Excepteur ut anim do irure minim mollit laborum ullamco adipisicing commodo ipsum adipisicing. Nulla laboris esse occaecat amet laborum amet ipsum dolor duis aute nostrud. Deserunt voluptate do Lorem excepteur esse quis ipsum dolor cupidatat nostrud.

Irure laborum id adipisicing enim. Quis proident in officia eu pariatur id eu occaecat consectetur aute. Dolor deserunt consectetur consequat magna sit elit voluptate in in commodo consequat ut elit elit. Pariatur pariatur mollit do enim laboris nisi sit ad consequat. Ullamco Lorem occaecat ea labore id occaecat anim pariatur elit ex nulla quis fugiat incididunt. Tempor ad aliquip irure cillum elit nulla officia amet sint eu minim. Incididunt aliqua consectetur esse aute velit nulla.

Dolor laboris occaecat reprehenderit quis ut veniam enim tempor adipisicing fugiat. Amet minim cillum ipsum id. Lorem adipisicing non eu voluptate. Adipisicing veniam ullamco qui ad nulla ullamco. Ullamco amet deserunt deserunt aliquip aliqua elit. Cupidatat quis excepteur sint veniam labore in tempor ullamco.</p>
        </div>
    </div>
</div>

<%- include("partials/footer") %>