<%- include("partials/header") %>



<div class="ui container main segment">

    <div class="container">

        <div class="ui buttons">
                <a href="https://www.youtube.com/channel/UCmJ_MKj0gMUAvRHGB5e1liA?view_as=subscriber" target="_blank">
                    <button class="ui labeled icon button">
                        <i class="youtube icon"></i> YouTube
                    </button>     
                </a>
           

                <a href="http://gabrielbarr.bandcamp.com/?from=viewsite_dashboard" target="_blank">
                    <button class="ui labeled icon button">    
                        <i class="bandcamp icon"></i> BandCamp
                    </button>
                </a>
      
        </div>

    </div>

</div>

<%- include("partials/footer") %>