<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/nicky.css">

<div class="ui container main segment">


    <div class="ui segment">
        <div class="ui two column very relaxed grid">
            <div class="column">

                <img src="/images/zacgates/Nicky.jpg" alt="" class="ui image big">

            </div>


            <div class="column">
                <div class="ui fluid container">
                    <h1 class="ui header">Nicky Soft Touch</h1>
                    <h4 class="ui header">Nicky Soft Touch, a.k.a Harry Johns, grew up in the countryside surrounding Bristol, and was influenced heavily by the vibrant music scene there. At 16 he began writing electronic music, developing his skills through a plethora of genres including Techno, House, Garage & Dubstep to name but a few</h4>
                    <h4 class="ui header">Since moving to London a year ago, his giant leaps in both influence and popularity seem to have been unstoppable. He currently hosts regular radio shows on Bristol based station <a href="https://noodsradio.com/">Noods </a> and the London based radio station and collective <a href="http://player.balamii.com/#">Balamii</a>. He is also set to join Ghost Notes Productions radio show on NTS in the near future.</h4>
                    <h4 class="ui header">I met Nicky through a mutual friend's <a href="/zacgates">(Zac Gates) </a>event called Rainbow Rooms, a celebration of gorgeous food, glamorous wine and great music. Since then, we have collaborated on a few musical projects here and there, and Nicky has asked me to build a website which is COMING SOON! In the mean time, have a little preview of the brilliant young man's musical library</h4>
                    <div class="ui buttons">
                        <a href="https://www.instagram.com/nickysofttouch/" target="_blank">
                            <button class="ui labeled icon button">
                                <i class="instagram icon"></i> nickygram
                            </button>     
                        </a>
                
        
                        <a href="https://www.mixcloud.com/nickysofttouch/" target="_blank">
                            <button class="ui labeled icon button">    
                                <i class="mixcloud icon"></i> Mixcloud
                            </button>
                        </a>

                        <a href="https://www.facebook.com/nickysofttouchmusic" target="_blank">
                            <button class="ui labeled icon button">    
                                <i class="facebook icon"></i> nickybook
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical divider">
        </div>
    </div>

    <div class="ui segment">

        <ul id="songs">
            <li>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/567737769&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/nickysofttouch" title="nicky soft touch" target="_blank" style="color: #cccccc; text-decoration: none;">nicky soft touch</a> · <a href="https://soundcloud.com/nickysofttouch/music-songs-w-nicky-soft-touch-january-19" title="Music Songs W/ Nicky Soft Touch (January &#x27;19)" target="_blank" style="color: #cccccc; text-decoration: none;">Music Songs W/ Nicky Soft Touch (January &#x27;19)</a></div>
            <li>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/542500407&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/nickysofttouch" title="nicky soft touch" target="_blank" style="color: #cccccc; text-decoration: none;">nicky soft touch</a> · <a href="https://soundcloud.com/nickysofttouch/music-songs-w-nicky-soft-touch-december-18" title="Music Songs W/ Nicky Soft Touch (December &#x27;18)" target="_blank" style="color: #cccccc; text-decoration: none;">Music Songs W/ Nicky Soft Touch (December &#x27;18)</a></div>
            </li>
            <li>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/533481084&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/nickysofttouch" title="nicky soft touch" target="_blank" style="color: #cccccc; text-decoration: none;">nicky soft touch</a> · <a href="https://soundcloud.com/nickysofttouch/music-songs-w-nicky-soft-touch-november-18" title="Music Songs W/ Nicky Soft Touch (November &#x27;18)" target="_blank" style="color: #cccccc; text-decoration: none;">Music Songs W/ Nicky Soft Touch (November &#x27;18)</a></div>
            </li>
        </ul>
        
        
        

    </div>


    <div class="ui container segment songs">

        <ul id="songs">
            <li class="singletrack">
                <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1088821600/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://gabrielbarr.bandcamp.com/track/dont-know-what-to-do">Don&#39;t Know What To Do by Gabriel Barr</a></iframe>
            </li>
            <li class="singletrack">
                <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2406472592/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://gabrielbarr.bandcamp.com/track/st-james-infirmary">St. James&#39; Infirmary by Gabriel Barr</a></iframe>
            </li>
            <li>
                <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=319310743/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://gabrielbarr.bandcamp.com/track/5-years-on">5 Years On by Gabriel Barr</a></iframe>
            </li>
        </ul>


    </div>

</div>


<script src="/scripts/nicky.js"></script>

<%- include("partials/footer") %>