<%- include("partials/header") %>

<link rel="stylesheet" href="/stylesheets/zac.css">

<div class="ui segment container main">
    <div class="container headings">
        <h1 class="ui header">Zac Gates</h1>
        <h1 class="ui header">Photography</h1>
    </div>
</div>

<div class="ui container segment" id="photogrid">
    <div class="ui right rail">
        <h3 class="ui header">
            Zac Gates is a Cheltenham born photographer, currently based in East London. Having moved to London quote some time ago, he made a name for himself in the natural wines world while connecting with people through his passion for getting the perfect shot. As his network grew, he made friends all over the city throughout various industries, which gave birth to the wildly popular Rainbow Rooms event team.
            <br>
            <br>
            Zac took the images for this project throughout the Coronavirus lockdown period, reflected by the static feeling in each image's composition. The tree's blossom's wilt away, just as our desires for consumption dwindle as we acclimatise to lockdown life. Perhaps we as a species can learn from this experience - when all the blossom is blown away, we still remain. And what remains is a fresh, green start, ready to bloom into an infinite array of possibilities
            <br>
            <br>
            I met Zac attending one his events with a friend. We spent some time chatting and drinking, drinking and chatting. I jumped at the opportunity when he asked me to showcase some of his projects, and this is the first, with a dedicated website under development. Stay tuned!
        </h3>
    </div>
    <div class="ui container grid">

        <div class="three column row">
            <div class="column">
                <img src="/images/zacgates/1.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/Clouds1.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/2.jpg" alt="" class="ui medium image">
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <img src="/images/zacgates/3.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/Clouds2.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/4.jpg" alt="" class="ui medium image">
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <img src="/images/zacgates/5.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/Clouds3.jpg" alt="" class="ui medium image">
            </div>
            <div class="column">
                <img src="/images/zacgates/6.jpg" alt="" class="ui medium image">
            </div>
        </div>

    </div>
</div>





<script src="/scripts/zac.js"></script>

<%- include("partials/footer") %>