body {
    background-color: whitesmoke;
    font-family: 'Lemonada', cursive;
}

.secondary.pointed.menu {
    background-color: #525E67;
}


div.secondary.pointed.menu a {
    color: whitesmoke;
}

div.secondary.pointed.menu div {
    color: whitesmoke;
}

#logo-container {
    padding: auto;
}

#gb-logo {
    width: 5em;
    padding-top: 5px;
    margin: auto;
}

#background-strip {
    padding: none;
    width: auto;
}

#custom-jumbo {
    background: url("/images/fireside.jpeg");
    background-size: cover;
    width: 1600px;
    height: 600px;
    
}


.ui.header.quote {
    color: white;
    padding-top: 50px;
    font-family: 'Playfair Display', serif;
}


.ui.secondary.menu .active.item {
    background: whitesmoke;
    color: #525E67;
    font-weight: 800;
}

.ui.container.main {
    margin-top: 7.0em;
    background-color: inherit;
    border: none;
    box-shadow: none ;
}

#landing-text {
    font-size: 2rem;
    text-align: center;
    color: #525E67;
    margin-top: 0.5em;
}

.slide_image {
    max-width: 40%;
    max-height: 100%;
}