body {
    background-color: whitesmoke;
}

.secondary.pointed.menu {
    background-color: #525E67;
}


div.secondary.pointed.menu a {
    color: whitesmoke;
}

div.secondary.pointed.menu div {
    color: whitesmoke;
}

#logo-container {
    padding: auto;
}

i.icon {
    font-size: 2em;
    padding-right: 1.5em;
    color: whitesmoke;
}

#gb-logo {
    width: 5em;
    padding-top: 5px;
    margin: auto;
}

.ui.secondary.menu .active.item {
    background: whitesmoke;
    color: #525E67;
    font-weight: 800;
}

.ui.container.main-top {
    margin-top: 6.0em;
    background-color: inherit;
    border: none;
}

.ui.simple.dropdown.item :hover {
    color: whitesmoke;
}