body {
    background-color: #232323;
    font-family: 'Playfair Display', serif;
}

.ui.header {
    font-family: inherit;
    text-align: right;
}

div.ui.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.slide_image {
    margin: auto;
}


.glide__track {
    text-align: center;
    margin: auto;
    align-content: center;
}

.glide__slide {
    text-align: center;
    justify-content: center;
    text-justify: center;
    width: 50%;
}

.glide__slides {
    text-align: center;
    justify-content: center;
    text-justify: center;
    
}

.glide__arrow.glide__arrow--left {
    background-color: #525E67;
}
.glide__arrow.glide__arrow--right {
    background-color: #525E67;
}

#carousel {
    width: 60%;
    background-color: inherit;
    border: none;
    box-shadow: 1rem;
    margin-top: 50px;
    text-align: center;
    font-family: 'Lemonada', cursive;
}

#songs {
    list-style-type: none;
    align-content: center;
    margin: auto;
    padding: 0;
}

li.singletrack {
    margin: auto;
}

div.ui.container.segment.songs {
    align-items: center;
}